<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factures</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        OUIGLASS FACTPRO V4 By BRIAN
    </header>
    <main>
        <h1>Gestion des Factures</h1>
        <p>Module en cours de développement...</p>
    </main>
    <footer>
        S.A.S Normandie Vitrages - RD 926 - 94 rue Nizas - Fauville-en-Caux, 76640 TERRES-DE-CAUX
    </footer>
</body>
</html>
